<!DOCTYPE html>
<html>
<head>
    <title>Home Page!</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello World</h1>
    <p>This is our demo MVC sit for .NET Core</p>

    <form method="post" class="form">
        <label name="firstNumber">First Number</label>
        <input type="number" name="firstNumber" />

        <label name="secondNumber">Second Number</label>
        <input type="number" name="secondNumber" />

        <button type="submit">SUMBIT!</button>
    </form>
</body>
</html>