<!DOCTYPE html>
<html>
<head>
    <title>Home Page!</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="TimeBox">
        <h1><span class="time">TIME</span> Persons of the Year</h1>

        <form method="post" class="form">
            <label name="firstYear">From Year: </label>
            <input type="number" name="firstYear" class="inputs" />

            <label name="secondYear">To Year: </label>
            <input type="number" name="secondYear" class="inputs" />

            <button type="submit">SUMBIT!</button>
        </form>

        <p>Which years will YOU choose?</p>
    </div>
</body>
</html>