@model List<MyFirstMVCApp.Models.TimePerson>

<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
</head>
<body>
    <h1>Your People Are...</h1>

    <table>
        <thead>
            <tr>
                <th>Year</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Year</td>
        </tr>
        }
    </table>
</body>
</html>