@model List<MyFirstMVCApp.Models.TimePerson>

<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>RESULTS OF DATA</h1>

    @foreach (var item in Model) // not strongly typed w/ Razor
    {
    <h3>@item.Name</h3>
    <h3>@item.Category</h3>
    }
</body>
</html>